.subscribeMain {
  .subscribeCont {
    margin: 4rem auto;
    padding: 1rem 4rem 4rem 4rem;
    width: 100%;
    max-width: 1026px;
    /*clip-path: polygon(100% 0%, 100% 100%, 92% 100%, 0% 100%, 0 10%, 4% 0%);*/
    background: rgba(147, 31, 28, 0.5);
    border: 1px solid #de1313;
    text-align: center;
    position: relative;
    .polygon {
      position: absolute;
      left: -1px;
      top: -1px;
      width: 0;
      height: 0;
      border-top: 55px solid black;
      border-right: 45px solid transparent;
    }
    .polygonAfter {
      position: absolute;
      left: 21px;
      top: -8px;
      width: 1px;
      height: 69px;
      background: #ff0000;
      transform: rotate(40deg);
    }
    .title {
      margin-top: 65px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 32px;
      margin-bottom: 20px;
    }
    .planList {
      display: flex;
      align-items: center;
      &.active {
        li {
          background: #2c0808;
          .checkIcon {
            visibility: visible;
          }
        }
      }
      ul {
        width: 100%;
        li {
          display: flex;
          align-items: center;
          width: 100%;
          font-size: 24px;
          font-weight: 500;
          color: #fff;
          background: rgba(44, 8, 8, 0.8);
          padding: 2rem 2.4rem;
          &.active {
            background: #2c0808;
            .checkIcon {
              visibility: visible;
            }
          }
          .checkIcon {
            display: flex;
            margin-right: 24px;
            visibility: hidden;
          }
          .editBtn {
            margin-left: auto;
            font-size: 16px;
            font-weight: 400;
            text-decoration: underline;
            cursor: pointer;
          }
          .planPrice {
            margin-left: auto;
          }
        }
      }
    }
    .row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -15px;
      .col6 {
        width: 50%;
        padding: 0 15px;
        margin-top: 20px;
      }
    }
    .textRight {
      text-align: right;
    }
    .selectPlan {
      background: rgba(255, 255, 255, 0.5);
      padding: 10px 20px;
      height: 83px;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      cursor: pointer;
      .checkIcon {
        position: absolute;
        left: 20px;
        visibility: hidden;
      }
      &.active {
        .checkIcon {
          visibility: visible;
        }
      }
    }
    .btnSub {
      clip-path: polygon(100% 5%, 100% 56%, 92% 100%, 0% 100%, 0 54%, 8% 5%);
      background: #931a1a;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      margin-top: 30px;
      padding: 21px 30px;
      text-shadow: 1px 1px 15px #fff;
      width: 100%;
      max-width: 332px;
    }
  }
  .popModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    .popModalCont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 775px;
      padding: 4rem 2rem;
      clip-path: polygon(100% 0%, 100% 100%, 92% 100%, 0% 100%, 0 10%, 4% 0%);
      background: rgba(8, 97, 97, 1);
      .closePopup {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: 300;
        font-size: 24px;
        cursor: pointer;
      }
      .title {
        font-size: 32px;
        font-weight: 900;
        opacity: 0.8;
        text-transform: uppercase;
        margin-top: 20px;
      }
    }
  }
}